<?xml version="1.0"?>
<model>
    <name>iCub (self_collide)</name>

    <version>1.0</version>
    <sdf version='1.5'>icub_self_collide.sdf</sdf>

    <author>
        <name>Silvio Traversaro</name>
        <email>silvio.traversaro@iit.it</email>
    </author>

    <author>
        <name>Ryan Lober</name>
        <email>ryan.lober@isir.upmc.fr</email>
    </author>

    <description>
        Model for the iCub humanoid robot. For more information check icub.org.
        EDIT: Added some strategically placed self_collision tags.
    </description>
</model>
