<?xml version="1.0"?>
<model>
    <name>iCub (fixed_self_collide)</name>

    <version>1.0</version>
    <sdf version='1.4'>icub_fixed_self_collide.sdf</sdf>

    <author>
        <name>Ryan Lober</name>
        <email>ryan.lober@isir.upmc.fr</email>
    </author>

    <description>
        Model for the iCub humanoid robot. For more information check icub.org .
    </description>
</model>
