<?xml version="1.0"?>
<model>
    <name>iCub (feet fixed) self collide w/ Weight</name>

    <version>1.0</version>
    <sdf version='1.4'>icub_feet_fixed_self_collide_weight.sdf</sdf>

    <author>
        <name>Ryan Lober</name>
        <email>ryan.lober@isir.upmc.fr</email>
    </author>

    <description>
        Model for the iCub humanoid robot with fixed feet. For more information check icub.org .
    </description>
</model>
