<?xml version="1.0"?>
<model>
    <name>Start Sphere</name>

    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Ryan Lober</name>
        <email>ryan.lober@isir.upmc.fr</email>
    </author>

    <description>
        A sphere indicating the starting point of a trajectory.
    </description>
</model>
