<?xml version="1.0"?>
<model>
    <name>Weight</name>

    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>


    <author>
        <name>Ryan Lober</name>
        <email>ryan.lober@isir.upmc.fr</email>
    </author>

    <description>
        A cube with mass and inertia
    </description>
</model>
