<?xml version="1.0"?>
<model>
    <name>iCub Table</name>

    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>


    <author>
        <name>Ryan Lober</name>
        <email>ryan.lober@isir.upmc.fr</email>
    </author>

    <description>
        A table at the right height for iCub.
    </description>
</model>
